# Dependencias
node_modules/

# Build
dist/

# Variables de entorno (NUNCA subir al repo)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
